<html>
<html lang="eng">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
 <title>Welcome</title>
</head>
<body>
 <div class = 'background'>
  <div class = 'dirtstrip'></div>
    <div class="welcome-window">
   <h1>Ready to play a game?</h1>
   <h2> Collect as many balls as possible </h2>
   <p>Press Spacebar to change colour 🔴 🟠 🟢 🔵.  Swipe your finger across the A ←→ Ä keys to move your ball </p>

   <button id="startButton" onclick="location.href='index2.html'">Start</button>
 </div>
 </div>
</body>
</html>