.thing {
    width: 100px;
    height: 100px;
    background-color: deeppink;
    position: absolute;
    border-radius: 50%;
}

/* Prevent padding and border from affecting element width. */
*,
::before,
::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sample-output {
    position: fixed;
    border-radius: 100%;
    background-color: orange;
}





.welcome-window {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(248, 2, 2, 0.841);
  border: 2px solid #e8940e;
  border-radius: 800px;
  padding: 45px;
  text-align: center;
}


/*window styling*/
.welcome-window h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #ffd399;
  font-family: 'comic sans ms', 'comic sans', cursive;
}


.welcome-window h2 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #ddb73b;
  font-family: 'comic sans ms', 'comic sans', cursive;
}


.welcome-window p {
  font-size: 18px;
  color: #424547;
  margin-bottom: 20px;
  font-family: 'Courier New', Courier, monospace
}





/*start button styling*/
#startButton {
  background-color: #ffe600;
  color: rgb(82, 82, 82);
  border: none;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  /* transition for button color change when you hover over it */
  transition: background-color 0.3s ease;
}


/*button color change when you hover over it*/
#startButton:hover {
  background-color: #91f16b;
}

